.keypad{
  flex: 1.6;
  background-color: var(--bg-color-2);
  padding: 20px;
  display: flex;
}

.keypad p{
  line-height: 1.875rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keypad_keys{
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}

.keypad_keys p{
  width: 33%;
  height: 25%;
  cursor: pointer;
  transition: 200ms;
  color: var(--text-color-2);
}
.keypad_keys p:active{
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.keypad_keys p:hover{
  font-size: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
  
}

.keypad_symbols{
  flex: 1;

}
.keypad_symbols p{
  color: #89a5f1;
  height: 20%;
  width: 100%;
  cursor: pointer;
}
.keypad_symbols p:active{
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.keypad_symbols p:hover{
  font-size: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 50%;
}
